<h3><i class = "fas fa-book"></i>The Days of our lives!</h3>

<div class="section">
    <p class="places">Create a repository and tell us about your life</p>
</div>

<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue"><i class ="fab fa-google right"></i>Log on with your google account</a>
</div>